{% extends 'userprofiles/dashboard_temp.html' %} {% block content %}
<div class="container mt-5 mb-5">
  <div class="row mt-5">
    <div class="col">
      {% if folder %}
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Description</th>
            <th scope="col">Created By</th>
            <th scope="col">Created At</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          {% for folder in folders %}
          <tr>
            <td>{{folder.name}}</td>
            <td>{{folder.description}}</td>
            <td>{{folder.created_by}}</td>
            <td>{{folder.created_at}}</td>
            <td><a href="{% url 'edit_profile' userprofile.id %}">Edit</a></td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      {% else %} You have not created any folder! {% endif %}
    </div>
  </div>
</div>

{% endblock content %}
