{% extends 'userprofiles/dashboard_temp.html' %} 

{% block title %}
Folders
{% endblock %}

{% block content %}
<div>
  <div class="mt-5 d-flex justify-content-end">
    <div></div>
    <div>
      {% comment %} <a class="btn btn-primary" href="{% url 'add_folder' %}">Add Folder</a> {% endcomment %}
       <!--          -->

      <!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
  Add Folder
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add Folder</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form action="{% url 'add_folder' %}" method="POST">
      <div class="modal-body">
        {% csrf_token %} 
          {{form.as_p}}
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary">Save changes</button>
        </div>
      </form>
    </div>
  </div>
</div>
      <!--          -->
      <!-- Modal -->
    <div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Edit Folder</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <form action="{% url 'edit_folder' %}" method="POST">
          <div class="modal-body">
            {% csrf_token %} 
            <input type="hidden" class="form-control" name="id" id="id" />
              {{form.as_p}}
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
              <button type="submit" class="btn btn-primary">Update Folder</button>
            </div>
          </form>
        </div>
      </div>
    </div>
    </div>
  </div>
  {% if folders %}
  <div class="my-2 mt-5">
    <h4 class="text-md-start">Folders</h4>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Name</th>
          <th scope="col">Description</th>
          <th scope="col">Created By</th>
          <th scope="col">Created At</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tfoot>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Name</th>
          <th scope="col">Description</th>
          <th scope="col">Created By</th>
          <th scope="col">Created At</th>
          <th scope="col">Action</th>
        </tr>
      </tfoot>
      <tbody>
        {% for folder in folders %}
        <tr>
          <td>{{ forloop.counter }}</td>
          <td>{{folder.name}}</td>
          <td>{{folder.description}}</td>
          <td>{{folder.created_by}}</td>
          <td>{{folder.created_at}}</td>
          <td>
            <a class="btn btn-warning btn-sm" href="{% url 'folder_document' folder.id %}">View</a>
            
            <button type="button" class="btn btn-primary btn-sm"
              data-bs-toggle="modal" 
              data-bs-target="#editModal" 
              data-bs-id="{{folder.id}}"
              data-bs-name="{{folder.name}}"
              data-bs-description="{{folder.description}}"
              data-bs-department="{{folder.department}}"
              >
              Edit
            </button>
            <a class="btn btn-danger btn-sm" href="{% url 'delete_folder' folder.id %}">Delete</a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    {% else %}
    <p class="my-5">You have not created any folder!</p>

    {% endif %}
  </div>
</div>

{% endblock content %}


{% block script %}
<script>
  const editModal = document.getElementById('editModal')
  editModal.addEventListener('show.bs.modal', event => {
    // Button that triggered the modal
  const button = event.relatedTarget
  // Extract info from data-bs-* attributes
  const folder_id = button.getAttribute('data-bs-id')
  const folder_name = button.getAttribute('data-bs-name')
  const folder_description = button.getAttribute('data-bs-description')
  const folder_department = button.getAttribute('data-bs-department')
  
  /**console.log("ID: ", folder_id)
  console.log("Name: ", folder_name)
  console.log("Desc: ", folder_description)  **/
  console.log("Dept: ", folder_department)
  const folderId = editModal.querySelector('#id')
  const folderName = editModal.querySelector('#name')
  const folderDescription = editModal.querySelector('#description')
  const folderDepartment = editModal.querySelector('#department')

  document.querySelector('#leaveCode').value = folder_department
  
  folderId.value = folder_id
  folderName.value = folder_name
  folderDescription.value = folder_description
  // folderDepartment.value = folder_department
})
</script>
{% endblock %}