{% extends 'userprofiles/dashboard_temp.html' %} 

{% block title %}
{{ document.name }}
{% endblock %}

{% block content %}
<div>
  <div class="mt-5 d-flex justify-content-end">
    <div></div>
  </div>
  <div class="my-2 mt-5">
    <h4 class="text-md-start">{{ document.name }} - Documents</h4>
    <p>{{ document.description }} <small>({{ document.created_at }})</small></p>
    <hr/>
    {% if document %}
        <p>{{ document.name }} </p>
        <p>{{ document.description }} </p>
        <p><a href="/media/{{ document.upload }}">Download</a></p>
        <p>
          <embed src="/media/{{ document.upload }}" height="500" width="80%">
        </p>
    {% else %}
    <p class="my-5">You have not created any document under the <b>"{{ document.name }}"</b> document!</p>

    {% endif %}
  </div>
</div>

{% endblock content %}


{% block script %}
<script>
  element = document.getElementById("folder");
  element.value = {{ folder.id }}; 

  const editModal = document.getElementById('editModal')
    editModal.addEventListener('show.bs.modal', event => {
      // Button that triggered the modal
    const button = event.relatedTarget
    // Extract info from data-bs-* attributes
    const document_id = button.getAttribute('data-bs-id')
    const document_name = button.getAttribute('data-bs-name')
    const document_description = button.getAttribute('data-bs-description')
    const document_folder = button.getAttribute('data-bs-folder')
    
    /**console.log("ID: ", document_id)
    console.log("Name: ", document_name)
    console.log("Desc: ", document_description)  **/
    console.log("Dept: ", document_department)
    const documentId = editModal.querySelector('#id')
    const documentName = editModal.querySelector('#name')
    const documentDescription = editModal.querySelector('#description')
    const documentFolder = editModal.querySelector('#folder')

    document.querySelector('#leaveCode').value = document_folder
    
    documentId.value = document_id
    documentName.value = document_name
    documentFolder.value = document_folder
    // documentDepartment.value = document_department
  })
</script>
<script src="https://mozilla.github.io/pdf.js/build/pdf.js"></script>
<script src="https://raw.githubusercontent.com/bradtraversy/pdf_viewer/master/js/main.js"></script>
{% endblock %}