{% extends 'userprofiles/dashboard_temp.html' %} 

{% block title %}
Documents
{% endblock %}

{% block content %}
<div>
  <div class="mt-5 d-flex justify-content-end">
    <div></div>
    <div>
      <!-- Button trigger modal -->
      <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
        Add Document
      </button>

      <!-- Modal -->
      <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Add Document</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form action="{% url 'add_document' %}" method="POST">
            <div class="modal-body">
              {% csrf_token %} 
                {{form.as_p}}
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary">Save changes</button>
              </div>
            </form>
          </div>
        </div>
      </div>
      <!--          -->
      <!-- Modal -->
      <div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Edit Document</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form action="{% url 'add_document' %}" method="POST">
            <div class="modal-body">
              {% csrf_token %} 
              <input type="hidden" class="form-control" name="id" id="id" />
                {{form.as_p}}
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary">Update Document</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% if documents %}
  <div class="my-2 mt-5">
    <h4 class="text-md-start">Documents</h4>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Name</th>
          <th scope="col">Description</th>
          <th scope="col">Folder</th>
          <th scope="col">Created By</th>
          <th scope="col">Created At</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tfoot>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Name</th>
          <th scope="col">Description</th>
          <th scope="col">Folder</th>
          <th scope="col">Created By</th>
          <th scope="col">Created At</th>
          <th scope="col">Action</th>
        </tr>
      </tfoot>
      <tbody>
        {% for document in documents %}
        <tr>
          <td>{{ forloop.counter }}</td>
          <td>{{document.name}}</td>
          <td>{{document.description}}</td>
          <td>{{document.folder.name}}</td>
          <td>{{document.created_by}}</td>
          <td>{{document.created_at}}</td>
          <td>
            <a class="btn btn-warning btn-sm" href="#">View</a>
            
            <button type="button" class="btn btn-primary btn-sm"
              data-bs-toggle="modal" 
              data-bs-target="#editModal" 
              data-bs-id="{{document.id}}"
              data-bs-name="{{document.name}}"
              data-bs-description="{{document.description}}"
              data-bs-folder="{{document.folder.id}}"
              data-bs-upload="{{document.upload}}"
              data-bs-department="{{document.department}}"
              >
              Edit
            </button>
            <a class="btn btn-danger btn-sm" href="{% url 'delete_document' document.id %}">Delete</a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    {% else %}
    <p class="my-5">You have not created any document!</p>

    {% endif %}
  </div>
</div>

{% endblock content %}


{% block script %}
<script>
  const editModal = document.getElementById('editModal')
  editModal.addEventListener('show.bs.modal', event => {
    // Button that triggered the modal
    const button = event.relatedTarget
    
    // Extract info from data-bs-* attributes
    const document_id = button.getAttribute('data-bs-id')
    const document_name = button.getAttribute('data-bs-name')
    const document_description = button.getAttribute('data-bs-description')
    var document_folder = button.getAttribute('data-bs-folder')
    const document_upload = button.getAttribute('data-bs-upload')
    
    const documentId = editModal.querySelector('#id')
    const documentName = editModal.querySelector('#name')
    const documentDescription = editModal.querySelector('#description')
    const documentFolder = editModal.querySelector('#folder')
    const documentUpload = editModal.querySelector('#id_upload')
    
    documentId.value = document_id
    documentName.value = document_name
    documentDescription.value = document_description
    documentFolder.value = document_folder
    // documentUpload.value = document_upload
  })
</script>
{% endblock %}