{% extends 'userprofiles/dashboard_temp.html' %} 

{% block title %}
Departments
{% endblock %}
{% block content %}
<div>
  <div class="mt-5 d-flex justify-content-end">
    <div></div>
    <div>
      {% comment %} <a class="btn btn-primary" href="{% url 'add_dept' %}">Add Department</a> {% endcomment %}
      <!--          -->

      <!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
  Add Department
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add Department</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form action="{% url 'add_dept' %}" method="POST">
      <div class="modal-body">
          {% csrf_token %} 
          {{form.as_p}}
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary">Save changes</button>
        </div>
      </form>
    </div>
  </div>
</div>
      <!--          -->

<!--  Department Edit Modal -->
{% comment %} <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
  Add Department
</button> {% endcomment %}

<!-- Modal -->
<div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Edit Department</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form id="editForm" action="{% url 'add_dept' %}" method="POST">
      <div class="modal-body">
          {% csrf_token %} 
          {{form.as_p}}
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary">Update changes</button>
        </div>
      </form>
    </div>
  </div>
</div>
<!--  End Department Modal -->



    </div>
  </div>
  {% if departments %}
  <div class="my-2 mt-5">
    <h4 class="text-md-start">Departments</h4>
    <table class="table" id="datatable">
      <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Created By</th>
          <th scope="col">Created At</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tfoot>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Created By</th>
          <th scope="col">Created At</th>
          <th scope="col">Action</th>
        </tr>
      </tfoot>
      <tbody>
        {% for department in departments %}
        <tr>
          <td class="fs-6">{{department.name}}</td>
          <td class="fs-6">{{department.created_by}}</td>
          <td class="fs-6">{{department.created_at}}</td>
          <td>
            <a class="btn btn-warning btn-sm" href="JavaScript:void(0);">View</a>
            <a class="btn btn-primary btn-sm edit" href="JavaScript:void(0);">Edit</a>
            <a class="btn btn-danger btn-sm" href="JavaScript:void(0);">Delete</a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>

{% else %}

<p class="my-5">There's no department, you can create one now</p>

{% endif %} {% endblock content %}

