<div class="col-md-2 bg-light d-none d-md-block text-dark">
  <nav class="navbar-light h-100">
    <ul class="navbar-nav mt-5">
      <li>
        <a href="{% url 'dashboard' %}" class="nav-link ps-2 py-3 active">
          <span class="me-2"><i class="bi bi-speedometer fs-4"></i></span>
          <span>Dashboard</span>
        </a>
      </li>
      {% if request.user.is_staff %}

      <li>
        <a href="{% url 'all_users' %}" class="nav-link ps-2 py-3">
          <span class="me-2"><i class="bi bi-people fs-4"></i></span>
          <span>Staff</span>
        </a>
      </li>

      <li>
        <a href="{% url 'all_departments' %}" class="nav-link ps-2 py-3">
          <span class="me-2"><i class="bi bi-archive fs-4"></i></span>
          <span>Departments</span>
        </a>
      </li>
      {% endif %}

      <li>
        <a href="{% url 'all_folders' %}" class="nav-link ps-2 py-3">
          <span class="me-2"><i class="bi bi-folder2-open fs-4"></i></span>
          <span>Folders</span>
        </a>
      </li>
      <li>
        <a href="{% url 'all_documents' %}" class="nav-link ps-2 py-3">
          <span class="me-2"><i class="bi bi-file-pdf fs-4"></i></span>
          <span>Documents</span>
        </a>
      </li>
    </ul>
  </nav>
  <div class="pt-0 pb-5 px-2">
    Signed is as: <br/>
    {{ request.user }} - {{ request.user.first_name }}
  </div>
</div>
