{% extends 'userprofiles/base.html' %}

{% load static %}

{% block content %}
<div class="container mt-5 mb-5">
  <div class=""></div>
  <div class="row justify-content-center mt-5">
    <div class="col-5">
      <div class="text-center">
        <img src="{% static '/images/nsib-logo-150.jpg' %}" alt="NSIB Logo" class="">
        <h3 class="text-center">NSIB Staff Portal</h3>
        <p class="text-center">Sign up staff Account</p>
        
      </div>
      <div class="py-4 px-3 rounded my-3 bg-light text-dark">
        <form method="POST" action="">
          {% csrf_token %} {{form.as_p}}
          <input type="submit" value="Submit" class="btn btn-primary" />
        </form>
      </div>
    </div>
  </div>
</div>

{% endblock content %} {% comment %}
<div class="container mt-5">
  <article class="row justify-content-center">
    <div class="col-5 bg-light mt-5 py-3 px-3 rounded-3">
      <div class="text-center py-3">
        <h2 class="mb-1">NSIB E-portal</h2>
        <p class="mb-3">Create Staff Account</p>
      </div>

      <form method="POST" action="">
        {% csrf_token %} {{form.as_p}}

        <button type="button" class="btn btn-primary mb-4">Submit</button>

        <div class="my-3 d-flex justify-content-between">
          <a href="" class="color-sucess">Already have and account? Login</a>
          <a href="" class="color-danger">Forgot Password ?</a>
        </div>
      </form>
    </div>
  </article>
</div>
{% endcomment %}
